$titlecolor: #98BE60;
$monthcolor: #e7a4a4;
$weekcolor: #84bdd3;
$backgroundcolor: #BCDCDF;
$backgroundborder: #DBF8FB;

$mondayD: #B4603B;
$mondayN: #DBB568;
$mondayL: #FFEDC8;

$tuesdayD: #BE7079;
$tuesdayN: #EBB4BB;
$tuesdayL: #FEE2E6;

$wednesdayD: #8B6039;
$wednesdayN: #A5734D;
$wednesdayL: #DBCCAE;

$thursdayD: #BB924B;
$thursdayN: #E6C995;
$thursdayL: #FFEED1;

$fridayD: #5B7584;
$fridayN: #9DB4C2;
$fridayL: #DDDFE0;

$saturdayD: #7D5C3E;
$saturdayN: #DBB998;
$saturdayL: #EBD1B8;

$sundayD: #746B67;
$sundayN: #ece5d8;
$sundayL: #E3D8C1;